* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  border: 2px solid black;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  padding-left: 2rem;

  .header-img {
    width: 150px;
    height: auto;
  }
  nav ul {
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
    font-size: 1.3rem;
  }
}

#hero {
  width: 100%;

  border: 2px solid black;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

#companies {
  border: 2px solid black;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.companies-box {
  border: 2px solid black;
}

img {
  width: 250px;
}
