* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 4rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: #c0c0c0;
  padding-left: 2rem;
  align-items: center;

  .header-img {
    height: 2rem;
  }
  nav ul {
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
    list-style: none;
    font-size: 1.6rem;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    color: #007bff;
    text-decoration: underline;
  }
}

#hero {
  width: 100%;
  height: 100vh;
  border: 2px solid black;
  color: #fff;
  background-image: url(https://lumon.industries/branch-501-night.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .hero-content {
    background-color: #c0c0c0;
    color: #000;
    max-width: 400px;

    padding: 40px;
    border-radius: 5px;
    margin-right: 5rem;
  }

  .hero-btn {
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
  }
}

.video-section {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Impression Section Start */
.impression-employees {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: aqua;
  h2 {
    margin-bottom: 2rem;
  }
}

.impression-wrapper {
  display: flex;
  align-items: top;
  padding: 0 2rem;
  gap: 2rem;
}

.impression {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
  }
  h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  h4 {
    margin-bottom: 0.25rem;
  }
}

/* Impression Section End */
